header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ===================== CTA ===================== */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ===================== HEADER SOCIALS ===================== */
.header_socials{
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 0.8rem;
    bottom: 3rem;
}
.header_socials ::after{
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* ===================== ME ===================== */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ===================== SCROLL DOWN ===================== */
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    left: 50%;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}